body{
	font-family: "Gill Sans","Gill Sans MT";
	background-color: #ecf0f1;
}
.pressedKey {
	display: inline-block;
	margin-left: 3%;
}
.pressedKeyCode {
	font-size: 1000%;
    font-weight: bold;
    margin-bottom: 0;
    color: #2c3e50;
}
.pressedKeyName {
	font-size: 250%;
    margin-top: 0;
    text-align: center;
    color: #34495e;
}

button {
	padding: 1.5%;
    font-size: 125%;
    font-weight: bold;
    background-color: #e74c3c;
    color: #ecf0f1;
    border: 0;
    margin-left: 3%;
}
#addedShortcutsContainer {
    position: absolute;
    left: 1%;
    display: table;
}
#addedShortcuts {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 50px;
    height: 100%;
}
#genrateCodeContainer {
    position: absolute;
    right: 1%;
    top: 0;
    display: table;
    height: 100%;
}
#genrateCode {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 50px;
    font-size: 145%;
    cursor: pointer;
}
#generatedCodeCon {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: none;
}
#generatedCodeConClose {
    position: absolute;
    right: 29%;
    top: 15.5%;
    z-index: 1;
    padding: 3px;
    cursor: pointer;
    background-color: #ffffff;
}
#generatedCode {
    position: absolute;
    width: 40%;
    height: 70%;
    top: 15%;
    left: 30%;
    background-color: #ffffff;
    padding: 6px;
    border-style: dashed;
    border-color: #2c3e50;
    overflow-y: auto;
}
